# npm install 不是 global 的東西都會在 node_modules 
# 不是我寫的，依據 package.json 自動產生所以不用 push 到 repo
node_modules/

package-lock.json

# .env 檔一般要 ignore ，以免洩漏帳密或金鑰等
# 現在在練習，所以上傳
# 工作用的環境， .env 不會跟專案檔一起 push ，會另外找方式上傳